@import './config.scss';
@import './nav.scss';
@import './fonts/fonts.scss';

@import './pages/login.scss';
@import './pages/manage.scss';
@import './pages/schedule.scss';

@import './pages/printpage.scss';

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

main {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}

h3 {
    text-transform: uppercase;
    font-size: 28px;
    color: #5f5f5f;
    margin: 15px;
    text-align: center;
    font-weight: normal;
}

//Load last to override everything else when it needs too
@import './mobile.scss';
